body {
    display: inline;
    background-image: url(../images/background_medium.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.one {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 50px;
    border-radius: 10%;
    background-color: purple;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out,
        color 100ms ease-in-out;
    border: 1px solid black;
}

.one:hover {
    background-color: violet;
    color: purple;
}

.ten {
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 50px;
    border-radius: 10%;
    background-color: darkgreen;
    margin-left: 40px;
    cursor: pointer;
    border: 1px solid black;
}

.ten:hover {
    background-color: lightgreen;
    color: green;
}

h1 {
    font-size: normal;
    font-weight: 50;
    color: white;
    text-align: center;
}

.result {

    font-style: normal;
    font-size: x-large;
    color: black;
    font-weight: lighter;
    flex-direction: column;
    margin-left: 33px;
    /* margin: 5px; */
    margin-top: 25px;
    border-radius: 1%;
    padding: 0px;
    width: fit-content;
}

.question-box {
    border-radius: 5%;
    padding: 2px;
    margin-bottom: 5px;
    border: 2px;
    border-color: black;
    width: fit-content;
}

.setup {
    padding: 2px;
    margin-left: 10px;
    color: gold;
}

.punchline {
    padding: 2px;
    margin-left: 10px;
    color: whitesmoke;
}